ScaledYOLOv4:
    onnx_file:     "../weights/yolov4-p7.onnx"
    engine_file:   "../weights/yolov4-p7.trt"
    labels_file:   "../configs/labels/coco.names"
    BATCH_SIZE:    1
    INPUT_CHANNEL: 3
    IMAGE_WIDTH:   1536
    IMAGE_HEIGHT:  1536
    image_order:   "BCHW"
    channel_order: "BGR"
    obj_threshold: 0.4
    nms_threshold: 0.45
    agnostic:      False
    strides:       [8, 16, 32, 64, 128]
    num_anchors:   [4,  4,  4,  4,   4]
    img_mean:      [ 0, 0, 0 ]
    img_std:       [ 1, 1, 1 ]
    alpha:         255.0
    resize:        "keep_ratio"
